[run]
omit =
    tests/*
    helpers/print_test_programs.py
    helpers/draw_flow.py
    paroxython/make_snapshots.py
[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    def __repr__
