[run]
omit =
    helpers/context.py
    helpers/draw_flow.py
    helpers/dump_flat_asts.py
    helpers/build_pdoc.py
    helpers/make_dummy_db.py
    helpers/make_compare_spans.py
    helpers/reformat_spec.py
    helpers/make_programming_idioms_folder.py
    helpers/update_tree.py
    helpers/parse_source.py
    paroxython/__init__.py
    paroxython/make_snapshots.py
    paroxython/compare_spans.py
    tests/*
    examples/*
[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    def __repr__
    raise NotImplementedError
